/* 主体部分 start */
.pyg_main {
  height: 455px;
  margin-left: 219px;
  margin-top: 10px;
  /* background-color: pink; */
}
.pyg_main_banner {
  float: left;
  width: 721px;
  height: 455px;
  background-color: purple;
}
.pyg_main_newsflash {
  float: right;
  width: 250px;
  height: 455px;
  /* border: 1px solid #e4e4e4; */
}
.pyg_main_newsflash_news {
  height: 164px;
  width: 250px;
  border: 1px solid #e4e4e4;
}
.pyg_main_newsflash_news_title {
  height: 33px;
  padding: 0 15px;
  border-bottom: 1px dotted #ccc;
  text-align: center;
  line-height: 33px;
}
.pyg_main_newsflash_news_title h3 {
  float: left;
  font-size: 14px;
}
.pyg_main_newsflash_news_title .more {
  float: right;
  font-size: 12px;
  color: #666666;
}
.pyg_main_newsflash_news_title .more::after {
  content: '\e920';
  font-family: 'icomoon';
}
.pyg_main_newsflash_news_content ul {
  padding-top: 5px;
  padding-left: 16px;
}
.pyg_main_newsflash_news_content li {
  overflow: hidden;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  /* 文字超出一行后,设置文字为省略号 */
  white-space: nowrap;
  text-overflow: ellipsis;
}

.pyg_main_newsflash_news_content li a {
  color: #666666;
}
.pyg_main_newsflash_news_content li:hover a {
  color: #c81623;
}
.pyg_main_newsflash_service {
  overflow: hidden;
  width: 250px;
  height: 209px;
  border: 1px solid #e4e4e4;
  border-top: none;
}
.pyg_main_newsflash_service ul {
  width: 252px;
}
.pyg_main_newsflash_service li {
  float: left;
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.pyg_main_newsflash_service a {
  display: block;
  width: 63px;
  height: 71px;
  color: #666;
  font-size: 12px;
}
.pyg_main_newsflash_service i {
  display: inline-block;
  width: 19px;
  height: 24px;
  margin: 13px 0 10px;
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  background-position: -20px -17px;
}

.pyg_main_newsflash_bargain {
  width: 250px;
  height: 75px;
  margin-top: 5px;
}

/* 主体部分 end */

/* 推荐模块 start  */

.recom {
  margin-top: 11px;
}
.recom_main {
  height: 163px;
}
.recom_main_hd {
  float: left;
  width: 206px;
  height: 163px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  background-color: #5c5251;
}
.recom_main_hd img {
  margin-top: 31px;
  margin-bottom: 10px;
}
.recom_main_bd {
  float: left;
  width: 994px;
  height: 163px;
}
.recom_main_bd li {
  position: relative;
  float: left;
  width: 248px;
  height: 163px;
}
.recom_main_bd li img {
  width: 248px;
  height: 163px;
}
.recom_main_bd li:nth-child(-n + 3)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 143px;
  margin-top: 10px;
  background-color: #ccc;
}
/* 推荐模块 end  */

/* 楼梯模块 start  */
.floor_dianqi {
  height: 419px;
}
.floor_hd {
  height: 30px;
  margin-top: 31px;
  border-bottom: 2px solid #c81623;
}
.floor_hd h3 {
  float: left;
  color: #c81623;
}
.floor_hd ul {
  float: right;
}
.floor_hd ul li {
  float: left;
  font-size: 12px;
  color: #999;
}
.floor_hd ul li a {
  padding: 0 14px;
  color: #666;
}
.col_210 {
  width: 210px;
}
.col_329 {
  width: 329px;
}
.col_220 {
  width: 220px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.col_219 {
  width: 219px;
  border-bottom: 1px solid #ccc;
}
.bd {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.floor_bd {
  height: 361px;
}
.floor_bd > div {
  float: left;
}
.col_210 ul {
  padding-left: 12px;
  height: 100px;
}
.col_210 ul li {
  float: left;
  height: 33px;
  width: 86px;
  margin-right: 10px;
  line-height: 33px;
  text-align: center;
  border-bottom: 1px solid #ededed;
}
.col_210 img {
  text-align: center;
}

/* 楼梯模块 end  */
